## Data Preprocessing and filtering

In [67]:
import pandas as pd 
import numpy as np
np.random.seed(0)

column_names=['user_id','item_id','rating','timestamp']
df = pd.read_csv('ml-100k/u.data',sep='\t',names=column_names)
movie_ids = df['item_id'].unique()
user_ids = df['user_id'].unique()

one_hot_matrix = np.zeros((len(user_ids), len(movie_ids)))

one_hot_df = pd.DataFrame(one_hot_matrix, index=user_ids, columns=movie_ids)

for _, row in df.iterrows():
    one_hot_df.loc[row['user_id'], row['item_id']] = 1

#one_hot_df.reset_index(inplace=True)
#one_hot_df.rename(columns={'index': 'user_id'}, inplace=True)

one_hot_df

,242,302,377,51,346,474,265,465,451,86,...,1594,1626,1645,1659,1682,1674,1640,1637,1630,1641
196,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
936,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
930,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
920,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(one_hot_df)
similarity_df = pd.DataFrame(similarity_matrix, index=one_hot_df.index, columns=one_hot_df.index)
similarity_df

,196,186,22,244,166,298,115,253,305,6,...,925,942,937,926,943,939,936,930,920,941
196,1.000000,0.050084,0.127381,0.176453,0.035806,0.099464,0.066778,0.081293,0.204195,0.165355,...,0.000000,0.018016,0.126592,0.107417,0.086479,0.068626,0.201565,0.181568,0.062807,0.068279
186,0.050084,1.000000,0.165872,0.148676,0.139876,0.166524,0.163043,0.243471,0.167935,0.157902,...,0.129012,0.129028,0.148361,0.209814,0.193047,0.223408,0.201229,0.157622,0.163572,0.155594
22,0.127381,0.165872,1.000000,0.292198,0.079057,0.243139,0.175087,0.206413,0.261018,0.206887,...,0.015625,0.119334,0.083853,0.039528,0.347785,0.101015,0.111261,0.189310,0.017334,0.131911
244,0.176453,0.148676,0.292198,1.000000,0.028989,0.264586,0.243288,0.230353,0.334985,0.285595,...,0.057294,0.182322,0.122988,0.043483,0.355071,0.148161,0.206705,0.228665,0.050849,0.138197
166,0.035806,0.139876,0.079057,0.028989,1.000000,0.039684,0.000000,0.136223,0.105053,0.046181,...,0.079057,0.201262,0.141421,0.400000,0.000000,0.031944,0.187647,0.084515,0.350823,0.143019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.068626,0.223408,0.101015,0.148161,0.031944,0.164795,0.089363,0.145049,0.134231,0.137686,...,0.000000,0.048218,0.225877,0.063888,0.132260,1.000000,0.275731,0.197981,0.028017,0.182743
936,0.201565,0.201229,0.111261,0.206705,0.187647,0.163824,0.209978,0.161891,0.202760,0.231087,...,0.089009,0.113298,0.331716,0.225176,0.142437,0.275731,1.000000,0.317181,0.164577,0.286263
930,0.181568,0.157622,0.189310,0.228665,0.084515,0.234772,0.183892,0.204675,0.270585,0.216835,...,0.044544,0.127573,0.239046,0.169031,0.155523,0.197981,0.317181,1.000000,0.098833,0.161165
920,0.062807,0.163572,0.017334,0.050849,0.350823,0.052207,0.040893,0.079650,0.118462,0.108010,...,0.208013,0.154454,0.155043,0.438529,0.000000,0.028017,0.164577,0.098833,1.000000,0.083624
941,0.068279,0.155594,0.131911,0.138197,0.143019,0.094593,0.155594,0.173178,0.171709,0.161451,...,0.000000,0.095948,0.235970,0.143019,0.082244,0.182743,0.286263,0.161165,0.083624,1.000000

In [35]:
#user filtering
user_similarity_sums = similarity_df.sum(axis=1)

sorted_users_by_similarity = user_similarity_sums.sort_values(ascending=False)

top_300_users = sorted_users_by_similarity.head(300).index.tolist()

one_hot_df_user = one_hot_df.loc[top_300_users,:].T
one_hot_df_user

,178,533,416,592,293,537,327,297,13,303,...,125,552,116,267,84,402,326,318,91,730
242,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:

similarity_matrix_user = cosine_similarity(one_hot_df_user)
similarity_df_user = pd.DataFrame(similarity_matrix_user, index=one_hot_df_user.index, columns=one_hot_df_user.index)
similarity_df_user

,242,302,377,51,346,474,265,465,451,86,...,1594,1626,1645,1659,1682,1674,1640,1637,1630,1641
242,1.000000,0.383816,0.070014,0.209519,0.282686,0.231015,0.215587,0.108902,0.194461,0.266754,...,0.242536,0.000000,0.171499,0.00000,0.000000,0.0,0.171499,0.171499,0.171499,0.171499
302,0.383816,1.000000,0.152277,0.353163,0.512358,0.443829,0.410281,0.165800,0.334831,0.377115,...,0.131876,0.000000,0.093250,0.09325,0.000000,0.0,0.093250,0.093250,0.093250,0.093250
377,0.070014,0.152277,1.000000,0.249377,0.056077,0.109985,0.160375,0.103695,0.154303,0.127000,...,0.000000,0.408248,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
51,0.209519,0.353163,0.249377,1.000000,0.234938,0.340105,0.470328,0.310311,0.565652,0.392720,...,0.172774,0.000000,0.122169,0.00000,0.122169,0.0,0.122169,0.122169,0.122169,0.122169
346,0.282686,0.512358,0.056077,0.234938,1.000000,0.271378,0.291386,0.069779,0.259587,0.256385,...,0.194257,0.000000,0.137361,0.00000,0.000000,0.0,0.137361,0.137361,0.137361,0.137361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,0.000000,0.000000,0.000000,0.000000,0.000000,0.089803,0.000000,0.127000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
1640,0.171499,0.093250,0.000000,0.122169,0.137361,0.089803,0.078567,0.000000,0.094491,0.103695,...,0.000000,0.000000,1.000000,0.00000,0.000000,0.0,1.000000,1.000000,1.000000,1.000000
1637,0.171499,0.093250,0.000000,0.122169,0.137361,0.089803,0.078567,0.000000,0.094491,0.103695,...,0.000000,0.000000,1.000000,0.00000,0.000000,0.0,1.000000,1.000000,1.000000,1.000000
1630,0.171499,0.093250,0.000000,0.122169,0.137361,0.089803,0.078567,0.000000,0.094491,0.103695,...,0.000000,0.000000,1.000000,0.00000,0.000000,0.0,1.000000,1.000000,1.000000,1.000000
1641,0.171499,0.093250,0.000000,0.122169,0.137361,0.089803,0.078567,0.000000,0.094491,0.103695,...,0.000000,0.000000,1.000000,0.00000,0.000000,0.0,1.000000,1.000000,1.000000,1.000000

In [40]:
# Movie filtering
user_similarity_sums_user = similarity_df_user.sum(axis=1)

sorted_users_by_similarity_user = user_similarity_sums_user.sort_values(ascending=False)

top_100_movies = sorted_users_by_similarity_user.head(100).index.tolist()

one_hot_df_final = one_hot_df_user.loc[top_100_movies,:].T
one_hot_df_final

,174,50,204,181,56,79,98,172,69,100,...,288,180,294,187,230,188,239,151,197,9
178,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
533,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
416,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
592,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
293,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
326,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
318,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
91,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
730,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [129]:
#candidates for LLM
columns_names=['item_id','title','date', "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "A17", "A18", "A19", "A20", "A21"]

movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=columns_names)
dictionary = dict(zip(movies['item_id'], movies['title']))
final_one_hot = one_hot_df_final.rename(columns=dictionary)
candidates = final_one_hot.columns
candidates

Index(['Raiders of the Lost Ark (1981)', 'Star Wars (1977)',
       'Back to the Future (1985)', 'Return of the Jedi (1983)',
       'Pulp Fiction (1994)', 'Fugitive, The (1993)',
       'Silence of the Lambs, The (1991)', 'Empire Strikes Back, The (1980)',
       'Forrest Gump (1994)', 'Fargo (1996)',
       'E.T. the Extra-Terrestrial (1982)', 'Terminator, The (1984)',
       'Indiana Jones and the Last Crusade (1989)', 'Jurassic Park (1993)',
       'Groundhog Day (1993)', 'Terminator 2: Judgment Day (1991)',
       'Jaws (1975)', 'Independence Day (ID4) (1996)', 'Braveheart (1995)',
       'When Harry Met Sally... (1989)',
       'Monty Python and the Holy Grail (1974)', 'Apollo 13 (1995)',
       'Get Shorty (1995)', 'Blues Brothers, The (1980)', 'Aliens (1986)',
       'Four Weddings and a Funeral (1994)', 'Blade Runner (1982)',
       'Shawshank Redemption, The (1994)', 'Twelve Monkeys (1995)',
       'Dances with Wolves (1990)', 'Usual Suspects, The (1995)',
       'Alien (1979)', 'Dead Poets Society (1989)', 'Toy Story (1995)',
       'Speed (1994)', 'Raising Arizona (1987)', 'Batman (1989)',
       'True Lies (1994)', 'Top Gun (1986)', 'Seven (Se7en) (1995)',
       'Mission: Impossible (1996)', 'Princess Bride, The (1987)',
       'Stand by Me (1986)', 'Rock, The (1996)', 'Godfather, The (1972)',
       'Amadeus (1984)', 'Mrs. Doubtfire (1993)', 'Clockwork Orange, A (1971)',
       'Psycho (1960)', 'Star Trek: The Wrath of Khan (1982)',
       'Field of Dreams (1989)', '2001: A Space Odyssey (1968)',
       'Fish Called Wanda, A (1988)', 'Schindler's List (1993)',
       'GoodFellas (1990)', 'Sleepless in Seattle (1993)', 'Die Hard (1988)',
       'Die Hard 2 (1990)', 'Clear and Present Danger (1994)',
       'Sound of Music, The (1965)', 'Die Hard: With a Vengeance (1995)',
       'Star Trek: First Contact (1996)', 'Hunt for Red October, The (1990)',
       'Contact (1997)', 'Quiz Show (1994)', 'Clueless (1995)',
       'Jerry Maguire (1996)', 'Cape Fear (1991)', 'Wizard of Oz, The (1939)',
       'One Flew Over the Cuckoo's Nest (1975)', 'Pretty Woman (1990)',
       'Birdcage, The (1996)', 'Aladdin (1992)', 'Lion King, The (1994)',
       'Shining, The (1980)', 'Heathers (1989)', 'Unforgiven (1992)',
       'Interview with the Vampire (1994)', 'Dave (1993)',
       'This Is Spinal Tap (1984)', 'Ghost (1990)', 'Babe (1995)',
       'Grease (1978)', 'Twister (1996)', 'Broken Arrow (1996)',
       'Firm, The (1993)', 'Casablanca (1942)', 'M*A*S*H (1970)',
       'Young Frankenstein (1974)', 'Birds, The (1963)', 'Scream (1996)',
       'Apocalypse Now (1979)', 'Liar Liar (1997)',
       'Godfather: Part II, The (1974)',
       'Star Trek IV: The Voyage Home (1986)', 'Full Metal Jacket (1987)',
       'Sneakers (1992)', 'Willy Wonka and the Chocolate Factory (1971)',
       'Graduate, The (1967)', 'Dead Man Walking (1995)'],
      dtype='object')

In [150]:
#most popular movie as baseline
dictionary[one_hot_df_final.sum().idxmax()]

'Star Wars (1977)'

In [85]:
#generate the target-picked randomly from the movies watched by a user
def combine_titles(row):
    return ', '.join(row.index[row == 1])

combined_series = final_one_hot.apply(combine_titles, axis=1)
combined_df = combined_series.to_frame(name='Combined Movies')
combined_df['Total Movies'] = combined_df['Combined Movies'].str.count(",") + 1

def select_random_movie(row):
    movies = row['Combined Movies'].split(', ')
    if movies:
        target = np.random.choice(movies)
        movies.remove(target)
        updated_movies = ', '.join(movies)
        return pd.Series([updated_movies, len(movies)+1, target])
    return pd.Series([None, 0, None])

# Apply the function and create new columns
combined_df[['Combined Movies', 'Total Movies', 'Target']] = combined_df.apply(select_random_movie, axis=1)

# Resulting DataFrame
final_df = combined_df[['Combined Movies', 'Total Movies', 'Target']]
final_df

,Combined Movies,Total Movies,Target
178,"Raiders of the Lost Ark (1981), Star Wars (197...",98,Terminator
533,"Star Wars (1977), Back to the Future (1985), R...",98,Raiders of the Lost Ark (1981)
416,"Raiders of the Lost Ark (1981), Star Wars (197...",111,Godfather
592,"Raiders of the Lost Ark (1981), Star Wars (197...",88,Schindler's List (1993)
293,"Raiders of the Lost Ark (1981), Star Wars (197...",113,Rock
...,...,...,...
402,"Star Wars (1977), Back to the Future (1985), R...",28,The (1996)
326,"Raiders of the Lost Ark (1981), Star Wars (197...",82,Graduate
318,"Raiders of the Lost Ark (1981), Star Wars (197...",62,The (1965)
91,"Raiders of the Lost Ark (1981), Star Wars (197...",45,Alien (1979)
730,"Star Wars (1977), Return of the Jedi (1983), F...",12,Twelve Monkeys (1995)

In [153]:
# the accuracy of baseline
count = 0
for i in final_df['Target']:
    if i=='Star Wars (1977)':
        count+=1
print("The baseline of using most popular movie has accuracy of " +  str(count/300*100) + "%")

The baseline of using most popular movie has accuracy of 2.3333333333333335%

In [127]:
#OpenAI API
from openai import OpenAI

client = OpenAI(api_key = "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")
def chat(prompt):
    response = client.completions.create(
        model="gpt-3.5-turbo-instruct",
        prompt = prompt,
        max_tokens=1024,
        temperature=0,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0,
        n=1,
    )
    return response.choices[0].text

## Zero-Shot NIR prompts

In [131]:
#zero shot simple prompt
def Zero_Shot_Simple(candidates, movies):
    prompt = """
        Candidate Set (candidate movies): {}. The movies I have watched (watched movies): {}.
        Can you recommend 10 movies from the Candidate Set similar to the movies I've watched (Format: [<- a candidate movie ->]).
    """.format(
        ", ".join(candidates),
        movies,
    )
    return chat(prompt)

In [156]:
count = 0
for i in final_df.index:
    if final_df.loc[i,'Target'] in Zero_Shot_Simple(candidates, final_df.loc[i,'Combined Movies']):
        count+=1
print("The baseline of using zero-shot-simple recommander has accuracy of " +  str(count/300*100) + "%")

In [144]:
final_df.loc[178,"Combined Movies"]

"Raiders of the Lost Ark (1981), Star Wars (1977), Back to the Future (1985), Return of the Jedi (1983), Pulp Fiction (1994), Fugitive, The (1993), Silence of the Lambs, The (1991), Empire Strikes Back, The (1980), Forrest Gump (1994), Fargo (1996), E.T. the Extra-Terrestrial (1982), The (1984), Indiana Jones and the Last Crusade (1989), Jurassic Park (1993), Groundhog Day (1993), Terminator 2: Judgment Day (1991), Jaws (1975), Independence Day (ID4) (1996), Braveheart (1995), When Harry Met Sally... (1989), Monty Python and the Holy Grail (1974), Apollo 13 (1995), Aliens (1986), Four Weddings and a Funeral (1994), Blade Runner (1982), Shawshank Redemption, The (1994), Twelve Monkeys (1995), Dances with Wolves (1990), Usual Suspects, The (1995), Alien (1979), Dead Poets Society (1989), Toy Story (1995), Speed (1994), Raising Arizona (1987), True Lies (1994), Top Gun (1986), Seven (Se7en) (1995), Mission: Impossible (1996), Princess Bride, The (1987), Stand by Me (1986), Rock, The (1996), Godfather, The (1972), Clockwork Orange, A (1971), Star Trek: The Wrath of Khan (1982), Field of Dreams (1989), 2001: A Space Odyssey (1968), Fish Called Wanda, A (1988), Schindler's List (1993), Die Hard (1988), Die Hard 2 (1990), Clear and Present Danger (1994), Sound of Music, The (1965), Star Trek: First Contact (1996), Hunt for Red October, The (1990), Contact (1997), Quiz Show (1994), Clueless (1995), Jerry Maguire (1996), Cape Fear (1991), Pretty Woman (1990), Birdcage, The (1996), Aladdin (1992), Lion King, The (1994), Shining, The (1980), Heathers (1989), Unforgiven (1992), This Is Spinal Tap (1984), Babe (1995), Twister (1996), Broken Arrow (1996), Firm, The (1993), Casablanca (1942), Scream (1996), Apocalypse Now (1979), Liar Liar (1997), Godfather: Part II, The (1974), Star Trek IV: The Voyage Home (1986), Graduate, The (1967), Dead Man Walking (1995)"