# This Notebook focus on movies with good ratings and select the target to be the latest movie

## Data Preprocessing and filtering

In [1]:
import pandas as pd 
import numpy as np
np.random.seed(0)

column_names=['user_id','item_id','rating','timestamp']
df = pd.read_csv('ml-100k/u.data',sep='\t',names=column_names)
movie_ids = df['item_id'].unique()
user_ids = df['user_id'].unique()
df = df[df['rating']>=4]
one_hot_matrix = np.zeros((len(user_ids), len(movie_ids)))

one_hot_df = pd.DataFrame(one_hot_matrix, index=user_ids, columns=movie_ids)

for _, row in df.iterrows():
    one_hot_df.loc[row['user_id'], row['item_id']] = 1

#one_hot_df.reset_index(inplace=True)
#one_hot_df.rename(columns={'index': 'user_id'}, inplace=True)
idx = df.groupby('user_id')['timestamp'].idxmax()

# Now, we create a new DataFrame with the most recent movie watched by each user
most_recent_movies_df = df.loc[idx].reset_index(drop=True)
#candidates for LLM
columns_names=['item_id','title','date', "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "A17", "A18", "A19", "A20", "A21"]

movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=columns_names)
dictionary1 = dict(zip(movies['item_id'], movies['title']))
most_recent_movies_df['movie title'] = [dictionary1[i] for i in most_recent_movies_df['item_id']]
one_hot_df

,242,302,377,51,346,474,265,465,451,86,...,1594,1626,1645,1659,1682,1674,1640,1637,1630,1641
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
936,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
920,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(one_hot_df)
similarity_df = pd.DataFrame(similarity_matrix, index=one_hot_df.index, columns=one_hot_df.index)
similarity_df

,196,186,22,244,166,298,115,253,305,6,...,925,942,937,926,943,939,936,930,920,941
196,1.000000,0.030773,0.099136,0.154622,0.000000,0.067049,0.027077,0.051333,0.083624,0.073671,...,0.000000,0.000000,0.127920,0.080582,0.065279,0.068279,0.154755,0.045455,0.000000,0.050252
186,0.030773,1.000000,0.100673,0.069786,0.087039,0.090784,0.073324,0.173762,0.028307,0.062344,...,0.087039,0.088834,0.028868,0.000000,0.191508,0.115563,0.059868,0.092319,0.000000,0.136083
22,0.099136,0.100673,1.000000,0.177983,0.035050,0.280279,0.206689,0.209919,0.182384,0.220930,...,0.000000,0.128782,0.069749,0.043937,0.308476,0.074458,0.084380,0.024784,0.036761,0.109599
244,0.154622,0.069786,0.177983,1.000000,0.024296,0.202736,0.173977,0.184318,0.237052,0.201876,...,0.024296,0.148785,0.080582,0.030457,0.287854,0.077421,0.142052,0.051541,0.025482,0.113961
166,0.000000,0.087039,0.035050,0.024296,1.000000,0.000000,0.000000,0.108893,0.029566,0.000000,...,0.090909,0.111340,0.120605,0.113961,0.000000,0.048280,0.031265,0.064282,0.286039,0.142134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.068279,0.115563,0.074458,0.077421,0.048280,0.134288,0.061009,0.154217,0.078509,0.055332,...,0.000000,0.039421,0.192154,0.060523,0.114401,1.000000,0.182650,0.170697,0.050637,0.188713
936,0.154755,0.059868,0.084380,0.142052,0.031265,0.086962,0.171201,0.087384,0.142354,0.125411,...,0.062531,0.051056,0.248868,0.156772,0.105833,0.182650,1.000000,0.154755,0.098374,0.219971
930,0.045455,0.092319,0.024784,0.051541,0.064282,0.067049,0.027077,0.128332,0.125436,0.128924,...,0.000000,0.052486,0.255841,0.080582,0.065279,0.170697,0.154755,1.000000,0.000000,0.100504
920,0.000000,0.000000,0.036761,0.025482,0.286039,0.033150,0.040161,0.000000,0.062017,0.027318,...,0.000000,0.116775,0.063246,0.358569,0.000000,0.050637,0.098374,0.000000,1.000000,0.074536
941,0.050252,0.136083,0.109599,0.113961,0.142134,0.098833,0.149671,0.141876,0.161788,0.081446,...,0.000000,0.116052,0.235702,0.089087,0.072169,0.188713,0.219971,0.100504,0.074536,1.000000

In [3]:
#user filtering
user_similarity_sums = similarity_df.sum(axis=1)

sorted_users_by_similarity = user_similarity_sums.sort_values(ascending=False)

top_300_users = sorted_users_by_similarity.head(300).index.tolist()

one_hot_df_user = one_hot_df.loc[top_300_users,:].T
one_hot_df_user

,276,592,416,864,178,43,474,303,457,533,...,324,615,645,26,579,934,545,459,12,185
242,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
302,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
377,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1640,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1637,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1630,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:

similarity_matrix_user = cosine_similarity(one_hot_df_user)
similarity_df_user = pd.DataFrame(similarity_matrix_user, index=one_hot_df_user.index, columns=one_hot_df_user.index)
similarity_df_user

,242,302,377,51,346,474,265,465,451,86,...,1594,1626,1645,1659,1682,1674,1640,1637,1630,1641
242,1.000000,0.323048,0.0,0.146254,0.241747,0.144276,0.098552,0.000000,0.055048,0.152894,...,0.301511,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
302,0.323048,1.000000,0.0,0.173240,0.458162,0.410152,0.252149,0.087922,0.195615,0.301841,...,0.142857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
377,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,0.146254,0.173240,0.0,1.000000,0.129641,0.149215,0.348811,0.149270,0.398527,0.184482,...,0.242536,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.241747,0.458162,0.0,0.129641,1.000000,0.182696,0.174714,0.065795,0.073193,0.135526,...,0.267261,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,0.000000,0.000000,0.0,0.000000,0.000000,0.096674,0.000000,0.174078,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1640,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1637,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1630,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1641,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# Movie filtering
user_similarity_sums_user = similarity_df_user.sum(axis=1)

sorted_users_by_similarity_user = user_similarity_sums_user.sort_values(ascending=False)

top_100_movies = sorted_users_by_similarity_user.head(100).index.tolist()

one_hot_df_final = one_hot_df_user.loc[top_100_movies,:].T
one_hot_df_final

,174,50,98,172,79,204,56,64,168,181,...,23,58,732,657,511,684,223,209,367,175
276,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0
592,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
416,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
864,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0
178,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
545,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
459,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
185,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
#candidates for LLM
columns_names=['item_id','title','date', "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "A17", "A18", "A19", "A20", "A21"]

movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=columns_names)
dictionary = dict(zip(movies['item_id'], movies['title']))
final_one_hot = one_hot_df_final.rename(columns=dictionary)
candidates = final_one_hot.columns
candidates

Index(['Raiders of the Lost Ark (1981)', 'Star Wars (1977)',
       'Silence of the Lambs, The (1991)', 'Empire Strikes Back, The (1980)',
       'Fugitive, The (1993)', 'Back to the Future (1985)',
       'Pulp Fiction (1994)', 'Shawshank Redemption, The (1994)',
       'Monty Python and the Holy Grail (1974)', 'Return of the Jedi (1983)',
       'Terminator 2: Judgment Day (1991)', 'Usual Suspects, The (1995)',
       'Braveheart (1995)', 'Fargo (1996)', 'Terminator, The (1984)',
       'Indiana Jones and the Last Crusade (1989)', 'Amadeus (1984)',
       'Dead Poets Society (1989)', 'Godfather, The (1972)',
       'Princess Bride, The (1987)', 'Forrest Gump (1994)', 'Alien (1979)',
       'When Harry Met Sally... (1989)', 'E.T. the Extra-Terrestrial (1982)',
       'Blade Runner (1982)', 'Wizard of Oz, The (1939)', 'Aliens (1986)',
       'Jaws (1975)', 'Schindler's List (1993)', 'Psycho (1960)',
       'Twelve Monkeys (1995)', 'One Flew Over the Cuckoo's Nest (1975)',
       'Apollo 13 (1995)', 'Groundhog Day (1993)', 'Seven (Se7en) (1995)',
       'Dances with Wolves (1990)', 'Toy Story (1995)', 'Casablanca (1942)',
       'Rear Window (1954)', 'Unforgiven (1992)', 'Stand by Me (1986)',
       'Raising Arizona (1987)', 'Speed (1994)',
       'It's a Wonderful Life (1946)', 'Field of Dreams (1989)',
       'To Kill a Mockingbird (1962)', 'Four Weddings and a Funeral (1994)',
       'Young Frankenstein (1974)', 'Clockwork Orange, A (1971)',
       'Citizen Kane (1941)', 'Jurassic Park (1993)', 'GoodFellas (1990)',
       'Sting, The (1973)', 'Get Shorty (1995)', 'M*A*S*H (1970)',
       '2001: A Space Odyssey (1968)', 'Star Trek: The Wrath of Khan (1982)',
       'Fish Called Wanda, A (1988)', 'Graduate, The (1967)',
       'Die Hard (1988)', 'Babe (1995)', 'Hunt for Red October, The (1990)',
       'Vertigo (1958)', 'Sound of Music, The (1965)', 'True Lies (1994)',
       'Apocalypse Now (1979)', 'Contact (1997)',
       'Beauty and the Beast (1991)', 'Godfather: Part II, The (1974)',
       'Snow White and the Seven Dwarfs (1937)', 'Blues Brothers, The (1980)',
       'Dead Man Walking (1995)', 'Gandhi (1982)',
       'Independence Day (ID4) (1996)', 'North by Northwest (1959)',
       'Willy Wonka and the Chocolate Factory (1971)', 'Jerry Maguire (1996)',
       'Bridge on the River Kwai, The (1957)',
       'Butch Cassidy and the Sundance Kid (1969)', 'Birds, The (1963)',
       'Right Stuff, The (1983)', 'Glory (1989)', 'Lion King, The (1994)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
       'Sleepless in Seattle (1993)', 'Batman (1989)', 'Titanic (1997)',
       'Rock, The (1996)', 'Monty Python's Life of Brian (1979)',
       'Top Gun (1986)', 'Taxi Driver (1976)', 'Quiz Show (1994)',
       'Dave (1993)', 'Manchurian Candidate, The (1962)',
       'Lawrence of Arabia (1962)', 'In the Line of Fire (1993)',
       'Sling Blade (1996)', 'This Is Spinal Tap (1984)', 'Clueless (1995)',
       'Brazil (1985)'],
      dtype='object')

In [7]:
#most popular movie as baseline
most_popular_10 = [dictionary[i] for i in one_hot_df_final.sum().sort_values(ascending=False).head(10).index]

In [8]:
most_recent_movies_df['item_id'] = most_recent_movies_df['item_id'].astype(str)

# Iterate through each row of ratings_df to set the corresponding cell in one_hot_df to 0
for index, row in most_recent_movies_df.iterrows():
    user_id = row['user_id']
    item_id = row['item_id']
    if user_id in one_hot_df.index and item_id in one_hot_df.columns:
        one_hot_df.at[user_id, item_id] = 0
def combine_titles(row):
    return ', '.join(row.index[row == 1])
final_one_hot = one_hot_df_final.rename(columns=dictionary)
combined_series = final_one_hot.apply(combine_titles, axis=1)
combined_df = combined_series.to_frame(name='Combined Movies')
combined_df['Total Movies'] = combined_df['Combined Movies'].str.count(",") + 1

# Resulting DataFrame
final_df = combined_df[['Combined Movies', 'Total Movies']]
final_df['Target']  = ""
for index, row in most_recent_movies_df.iterrows():
    user_id = row['user_id']
    movie_title = row['movie title']
    if user_id in final_df.index:
        final_df.loc[user_id, 'Target'] = movie_title
final_df

,Combined Movies,Total Movies,Target
276,"Raiders of the Lost Ark (1981), Star Wars (197...",100,Primary Colors (1998)
592,"Raiders of the Lost Ark (1981), Star Wars (197...",94,Deconstructing Harry (1997)
416,"Raiders of the Lost Ark (1981), Star Wars (197...",101,Wag the Dog (1997)
864,"Raiders of the Lost Ark (1981), Star Wars (197...",92,Men in Black (1997)
178,"Raiders of the Lost Ark (1981), Star Wars (197...",87,"Man Who Knew Too Little, The (1997)"
...,...,...,...
934,"Raiders of the Lost Ark (1981), Star Wars (197...",48,"Fish Called Wanda, A (1988)"
545,"Raiders of the Lost Ark (1981), Star Wars (197...",48,Demolition Man (1993)
459,"Raiders of the Lost Ark (1981), Star Wars (197...",19,"Blues Brothers, The (1980)"
12,"Raiders of the Lost Ark (1981), Star Wars (197...",36,Philadelphia (1993)
185,"Star Wars (1977), Return of the Jedi (1983), D...",19,Marvin's Room (1996)

In [9]:
#OpenAI API
from openai import OpenAI

client = OpenAI(api_key = "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")
def chat(prompt):
    response = client.completions.create(
        model="gpt-3.5-turbo-instruct",
        prompt = prompt,
        max_tokens=1024,
        temperature=0,
        top_p=1,
        frequency_penalty=0,
        presence_penalty=0,
        n=1,
    )
    return response.choices[0].text

In [10]:
def compare_movies_similarity(one_hot_df, target_movie, movie_list_str):
    if target_movie not in one_hot_df.columns:
        raise ValueError(f"Target movie '{target_movie}' not found in DataFrame")
    movie_list = movie_list_str.split(',')

    for movie in movie_list:
        if movie not in one_hot_df.columns:
            raise ValueError(f"Movie '{movie}' not found in DataFrame")
    movie_matrix = one_hot_df.T

    similarity_matrix = cosine_similarity(movie_matrix)
    similarity_df = pd.DataFrame(similarity_matrix, index=movie_matrix.index, columns=movie_matrix.index)

    similarities = {movie: similarity_df.at[target_movie, movie] for movie in movie_list}

    return similarities

## Baseline using 10 most popular movies for all users

In [11]:
# the accuracy of baseline
count = 0
for i in final_df['Target']:
    if i in most_popular_10:
        count+=1
print("The accuracy of using baseline(10 most popular movies is " +  str(count/300*100) + "%")

The accuracy of using baseline(10 most popular movies is 3.6666666666666665%

## Zero-Shot NIR prompts

In [12]:
#zero shot simple prompt
def Zero_Shot_Simple(candidates, movies):
    prompt = """
        Candidate Set (candidate movies): {}. The movies I have watched (watched movies): {}.
        Can you recommend 10 movies from the Candidate Set similar to the movies I've watched (Format: [<- a candidate movie ->]).
    """.format(
        ", ".join(candidates),
        movies,
    )
    return chat(prompt)

In [13]:
count = 0
for i in final_df.index:
    if final_df.loc[i,'Target'] in Zero_Shot_Simple(candidates, final_df.loc[i,'Combined Movies']):
        count+=1
print("The accuracy of using zero-shot-simple recommander has accuracy of " +  str(count/300*100) + "%")

The accuracy of using zero-shot-simple recommander has accuracy of 1.3333333333333335%

## Zero-Shot NIR prompts-Three-Step Prompting

In [14]:
def Zero_Shot_Complex(candidates, movies):
    prompt = """
        Candidate Set (candidate movies): {}. The movies I have watched (watched movies): {}.
        Step 1: What features are mst important to me when selecting movies(Summarize my preferences briefly)?
        Step 2: You will select the movies(at most 5 movies) that appeal to me the most from the movies I have watched, based on my personal preferences. Do not make recommandation yet.
        Step 3: Can you recommend 10 movies from the Candidate Set similar to the movies I've watched and selected in Step 2(Format: [no. a watched movie :<-a candidate movie ->])?
    """.format(
        ", ".join(candidates),
        movies,
    )
    return chat(prompt)

In [16]:
count = 0
for i in final_df.index:
    response = Zero_Shot_Complex(candidates, final_df.loc[i,'Combined Movies'])
    if final_df.loc[i,'Target'] in response:
        count+=1
print("The accuracy of using zero-shot-complex recommander has accuracy of " +  str(count/300*100) + "%")

The accuracy of using zero-shot-complex recommander has accuracy of 2.666666666666667%

## Zero-Shot NIR Prompts- add genre info

In [17]:
columns_names=['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', names=columns_names)
movies = movies[movies['movie id'].isin(one_hot_df_final.columns.astype(int))]
movies = movies.drop(columns = ["movie id", "release date", "video release date", "IMDb URL", "unknown"])
movies = movies.set_index("movie title")
def create_movie_genre_dict(df):
    movie_genre_dict = {}

    for movie_title, row in df.iterrows():

        genres = [genre for genre, value in row.items() if value == 1]
 
        concatenated_genres = ', '.join(genres)

        movie_genre_dict[movie_title] = concatenated_genres

    return movie_genre_dict
movies_genre_dict = create_movie_genre_dict(movies)
movies_genre_dict

{'Toy Story (1995)': "Animation, Children's, Comedy",
 'Get Shorty (1995)': 'Action, Comedy, Drama',
 'Twelve Monkeys (1995)': 'Drama, Sci-Fi',
 'Babe (1995)': "Children's, Comedy, Drama",
 'Dead Man Walking (1995)': 'Drama',
 'Seven (Se7en) (1995)': 'Crime, Thriller',
 'Usual Suspects, The (1995)': 'Crime, Thriller',
 'Braveheart (1995)': 'Action, Drama, War',
 'Taxi Driver (1976)': 'Drama, Thriller',
 'Apollo 13 (1995)': 'Action, Drama, Thriller',
 'Star Wars (1977)': 'Action, Adventure, Romance, Sci-Fi, War',
 'Pulp Fiction (1994)': 'Crime, Drama',
 'Quiz Show (1994)': 'Drama',
 'Shawshank Redemption, The (1994)': 'Drama',
 'Forrest Gump (1994)': 'Comedy, Romance, War',
 'Four Weddings and a Funeral (1994)': 'Comedy, Romance',
 'Lion King, The (1994)': "Animation, Children's, Musical",
 'Fugitive, The (1993)': 'Action, Thriller',
 'Jurassic Park (1993)': 'Action, Adventure, Sci-Fi',
 'Sleepless in Seattle (1993)': 'Comedy, Romance',
 'Blade Runner (1982)': 'Film-Noir, Sci-Fi',
 'Terminator 2: Judgment Day (1991)': 'Action, Sci-Fi, Thriller',
 'Dances with Wolves (1990)': 'Adventure, Drama, Western',
 'Silence of the Lambs, The (1991)': 'Drama, Thriller',
 'Snow White and the Seven Dwarfs (1937)': "Animation, Children's, Musical",
 'Fargo (1996)': 'Crime, Drama, Thriller',
 'Rock, The (1996)': 'Action, Adventure, Thriller',
 'Independence Day (ID4) (1996)': 'Action, Sci-Fi, War',
 'Godfather, The (1972)': 'Action, Crime, Drama',
 'Wizard of Oz, The (1939)': "Adventure, Children's, Drama, Musical",
 'Citizen Kane (1941)': 'Drama',
 '2001: A Space Odyssey (1968)': 'Drama, Mystery, Sci-Fi, Thriller',
 'Sound of Music, The (1965)': 'Musical',
 'Die Hard (1988)': 'Action, Thriller',
 'Willy Wonka and the Chocolate Factory (1971)': "Adventure, Children's, Comedy",
 'Fish Called Wanda, A (1988)': 'Comedy',
 "Monty Python's Life of Brian (1979)": 'Comedy',
 'Top Gun (1986)': 'Action, Romance',
 'Monty Python and the Holy Grail (1974)': 'Comedy',
 'Empire Strikes Back, The (1980)': 'Action, Adventure, Drama, Romance, Sci-Fi, War',
 'Princess Bride, The (1987)': 'Action, Adventure, Comedy, Romance',
 'Raiders of the Lost Ark (1981)': 'Action, Adventure',
 'Brazil (1985)': 'Sci-Fi',
 'Aliens (1986)': 'Action, Sci-Fi, Thriller, War',
 'Clockwork Orange, A (1971)': 'Sci-Fi',
 'Apocalypse Now (1979)': 'Drama, War',
 'Return of the Jedi (1983)': 'Action, Adventure, Romance, Sci-Fi, War',
 'GoodFellas (1990)': 'Crime, Drama',
 'Alien (1979)': 'Action, Horror, Sci-Fi, Thriller',
 'Psycho (1960)': 'Horror, Romance, Thriller',
 'Blues Brothers, The (1980)': 'Action, Comedy, Musical',
 'Godfather: Part II, The (1974)': 'Action, Crime, Drama',
 'Amadeus (1984)': 'Drama, Mystery',
 'Right Stuff, The (1983)': 'Drama',
 'Sting, The (1973)': 'Comedy, Crime',
 'Terminator, The (1984)': 'Action, Sci-Fi, Thriller',
 'Dead Poets Society (1989)': 'Drama',
 'Graduate, The (1967)': 'Drama, Romance',
 'Bridge on the River Kwai, The (1957)': 'Drama, War',
 'Groundhog Day (1993)': 'Comedy, Romance',
 'Unforgiven (1992)': 'Western',
 'Back to the Future (1985)': 'Comedy, Sci-Fi',
 'Young Frankenstein (1974)': 'Comedy, Horror',
 'This Is Spinal Tap (1984)': 'Comedy, Drama, Musical',
 'Indiana Jones and the Last Crusade (1989)': 'Action, Adventure',
 'M*A*S*H (1970)': 'Comedy, War',
 'Field of Dreams (1989)': 'Drama',
 'When Harry Met Sally... (1989)': 'Comedy, Romance',
 'Sling Blade (1996)': 'Drama, Thriller',
 'Star Trek: The Wrath of Khan (1982)': 'Action, Adventure, Sci-Fi',
 'Jaws (1975)': 'Action, Horror',
 'Jerry Maguire (1996)': 'Drama, Romance',
 'Raising Arizona (1987)': 'Comedy',
 'Contact (1997)': 'Drama, Sci-Fi',
 'Hunt for Red October, The (1990)': 'Action, Thriller',
 'Titanic (1997)': 'Action, Drama, Romance',
 "Schindler's List (1993)": 'Drama, War',
 "One Flew Over the Cuckoo's Nest (1975)": 'Drama',
 'Clueless (1995)': 'Comedy',
 'True Lies (1994)': 'Action, Adventure, Comedy, Romance',
 'Batman (1989)': 'Action, Adventure, Crime, Drama',
 'E.T. the Extra-Terrestrial (1982)': "Children's, Drama, Fantasy, Sci-Fi",
 'To Kill a Mockingbird (1962)': 'Drama',
 'Butch Cassidy and the Sundance Kid (1969)': 'Action, Comedy, Western',
 'Birds, The (1963)': 'Horror',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)': 'Sci-Fi, War',
 'Vertigo (1958)': 'Mystery, Thriller',
 'North by Northwest (1959)': 'Comedy, Thriller',
 'Casablanca (1942)': 'Drama, Romance, War',
 "It's a Wonderful Life (1946)": 'Drama',
 'Lawrence of Arabia (1962)': 'Adventure, War',
 'Gandhi (1982)': 'Drama',
 'Speed (1994)': 'Action, Romance, Thriller',
 'Beauty and the Beast (1991)': "Animation, Children's, Musical",
 'Rear Window (1954)': 'Mystery, Thriller',
 'Glory (1989)': 'Action, Drama, War',
 'Stand by Me (1986)': 'Adventure, Comedy, Drama',
 'Manchurian Candidate, The (1962)': 'Film-Noir, Thriller',
 'In the Line of Fire (1993)': 'Action, Thriller',
 'Dave (1993)': 'Comedy, Romance'}

In [18]:
def Zero_Shot_Complex_Genre(movies_genre_dict, movies):
    prompt = """
        Candidate Set (candidate movies with genre): {}. The movies I have watched (watched movies): {}.
        Step 1: Find out the movie genres for all the movies I watched.
        Step 2: What features and movie genres are most important to me when selecting movies(Summarize my preferences)?
        Step 3: You will select the movies that appeal to me the most from the movies I have watched, based on my personal preferences and genres. Do not make recommandation yet.
        Step 4: Can you recommend 10 movies from the Candidate Set similar to the movies I've watched and selected in Step 3(Format: [no. a watched movie :<-a candidate movie ->])?
    """.format(
        ", ".join(movies_genre_dict),
        movies,
    )
    return chat(prompt)

In [19]:
# due to the time and cost, only 100 data is tested
count = 0
ls = list(final_df.index).copy()
np.random.shuffle(ls)
for i in ls[:100]:
    print(i)
    response = Zero_Shot_Complex_Genre(movies_genre_dict, final_df.loc[i,'Combined Movies'])
    if final_df.loc[i,'Target'] in response:
        count+=1
print("The accuracy of using zero-shot-complex recommander has accuracy of " +  str(count/100*100) + "%")

632
391
450
527
495
710
121
883
334
854
324
758
14
924
880
16
421
119
417
251
788
919
664
890
299
288
233
465
274
934
90
435
457
54
933
666
125
305
185
43
25
177
308
455
479
458
764
661
303
862
347
395
207
406
749
312
907
59
868
329
198
42
882
26
526
711
413
402
271
823
676
659
318
339
230
848
716
216
128
452
18
577
943
189
897
618
57
751
405
831
932
484
307
851
506
397
694
62
524
551
The accuracy of using zero-shot-complex recommander has accuracy of 19.0%